<div class="main">
    @for (var i = 0; i < EnvironmentDifficulties; i++)
    {
        <div class="environment-difficulty">
            @for (var j = 0; j < 10; j++)
            {
                var num = j + 1 + (ContinueNumbering ? (i * 10) : 0);
                var numStr = num.ToString("000");

                <a href="@numStr" class="map">
                    <div class="map-inner">
                        @num
                    </div>
                </a>
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public int EnvironmentDifficulties { get; set; } = 20;

    [Parameter]
    public bool ContinueNumbering { get; set; } = true;
}
