<div class="main">
    @for (var i = 0; i < EnvironmentDifficulties; i++)
    {
        <div class="environment-difficulty">
            @for (var j = 0; j < 10; j++)
            {
                var num = j + 1 + (ContinueNumbering ? (i * 10) : 0);
                var numStr = num.ToString("000");
                var envDiffIndex = i; // event sending issue

                <a href="@numStr" class="map"
                    @onclick="() => OnMapClick.InvokeAsync(new MapBox(envDiffIndex, num))"
                    @onmouseenter="() => OnMapHover.InvokeAsync(new MapBox(envDiffIndex, num))">
                    <div class="map-inner">
                        @num
                    </div>
                </a>
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public int EnvironmentDifficulties { get; set; } = 20;

    [Parameter]
    public bool ContinueNumbering { get; set; } = true;

    [Parameter]
    public EventCallback<MapBox> OnMapClick { get; set; }

    [Parameter]
    public EventCallback<MapBox> OnMapHover { get; set; }
}
